// Site colors
$blackish: rgb(26,26,26); // 10%
$whiteish: rgb(229,229,229); // 90%
$grayish: rgb(178,178,178); // 75%

$teal_dark: rgb(31,90,86);
$teal_light: rgb(187,254,250);
$artifact: rgb(80,26,131);
$archeo: rgb(184,49,47);
$ancient: rgb(243,121,52);
$relic: rgb(198,151,97);
$morality: rgb(37,169,132);
$puritan: $morality;
$radical: $morality;
//$season1: rgb(254,114,114);
// Make sure season colors are dark enough to cause bootstrap to
// make the button text white when active
$season1: rgb(235,62,72);
$season2: rgb(198,103,252);
$season3: rgb(45,98,212);
$season4: rgb(184, 49, 47);

$body-bg: $blackish;
$body-color: $whiteish;

$theme-colors: (
  'ui': $grayish,
  'primary': $teal_light,
  'secondary': $teal_dark,
  'relic': $relic,
  'artifact': $artifact,
  'archeo': $archeo,
  'ancient': $ancient,
  'morality': $morality,
  'puritan': $puritan,
  'radical': $radical,
  'season1': $season1,
  'season2': $season2,
  'season3': $season3,
  'season4': $season4,
);

@import '../bootstrap/scss/bootstrap';

body {
  font-weight: 300;
}

#app {
  height: 100vh;
}

h1 {
  font-family: Orbitron, "Open Sans", sans-serif;
}

.title {
  padding-bottom: 10px;
}

.subtitle {
  //font-family: Orbitron, "Open Sans", sans-serif;
  color: $grayish;
}
.version {
  color: $teal_light;
}

.btn {
  padding-top: 0px;
  padding-bottom: 0px;
}

// Pressing buttons on mobile leaves the "cursor" hovering over the button.
// Since bootstrap's hover css is identical to the active state, this makes
// toggling the button indistinguishable from just hovering---which is always
// for a mobile device. This removes the hover behavior for mobile devices.
// FIXME: This apparently still isn't working, so I'm disabling *all* button
//        hover effects until I understand the faulty interaction.
//@media (hover: none) {
.btn:hover {
  color: inherit;
  background-color: inherit;
}

.quality-button, .season-button, .item-button {
  margin-left: 4px;
}

// Smaller buttons
.item-button, .season-button {
  font-size: 75%;
  line-height: 1;
}

.season-button {
  padding-top: 3px;
  padding-bottom: 3px;
}

.item-button {
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
//  border-radius: 10rem;
}

.button-row {
  margin-bottom: 4px;
}

// Table-related formatting
#enchants tr, #enchants td {
  border: none;
}
#enchants tbody {
  border: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $teal_dark;
}

#enchant-parent {
  padding:5px;
}

#enchant-container {
  height: 677px !important;
  //height: 100%;
  width: 100%;
  overflow-y: scroll;
}
div.page-contained,table {
  margin: 0;
  padding: 0; }

.badge-season {
  font-weight: 300;
}

div.details {
  padding: 5px;
  margin: 0px 10px 5px 10px;
  border: 1px solid $teal_dark;
  border-radius: 4px;
}
div.details p {
  margin: 0px;
}

.detail-header {
  color: $teal_light;
  font-weight: 400;
}

.row-spacer {
  display: inline-block;
  min-width: 4px;
}

// Enabled items

#itemfilter_box {
  margin-top: 10px;
  border: 1px solid $teal_dark;
}

#itemfilter_box .col {
  padding: 10px;
}

.itemfilter_header {
  color: $teal_light;
}


// Slot image map and highlighting


#fixed_column {
  max-width: 261px;
  min-height: 700px; // leave enough space for the reset button
  padding: 0;
  border: 1px solid $teal_dark;
}

.area {
  display: block;
  position: absolute;
  width: 48px;
  border: 1px none $teal_dark;
  border-radius: 4px;
}
.area_square {
  height: 48px;
}
.area_rect {
  height: 98px;
}
#A_neural_implant { left:  27px; top:  52px; }
#A_eye_implant    { left:  79px; top:  52px; }
#A_main_implant   { left: 136px; top:  52px; }
#A_purity_seal    { left:  27px; top: 220px; }
#A_belt           { left:  79px; top: 220px; }
#A_body           { left: 136px; top: 220px; }
#A_inoculator     { left: 136px; top: 389px; }
#A_weapon         { left:  23px; top: 558px; }
#A_signum         { left:  79px; top: 558px; }
//#A_signum2        { left: 132px; top: 558px; }
#A_offhand        { left: 188px; top: 558px; }

.area.active {
  background: $teal_dark;
}

.area:hover {
  border-style: solid;
  border-color: $teal_light;
}

.clear-slots {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 5px;
}
