<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap-Vue -->
    <link rel="stylesheet" type="text/css"
          href="css/custom.css">
    <link rel="stylesheet" type="text/css" 
          href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap">
    <link rel="stylesheet" type="text/css"
          href="css/fa.min.css">

    <!-- Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29492860-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-29492860-7');
    </script>

    <title>Inquisitor: Martyr Enchant Viewer</title>
  </head>
  <body>
<!---------------------------------------------------------------------------->

  <b-container id="app">
    <b-row>
      <b-col class="title">
      <h1>40K: Inquisitor Enchant Viewer</h1>
      <p><span class="subtitle">
        By Mome Borogove,
        updated for <span class="version">{{version}}</span>.
        For questions, visit the 
          <a href="https://discord.gg/inquisitor40k">
          40K: Inquisitor Discord</a>.
        For bugs and feedback, submit an issue on 
          <a href="https://github.com/mome-borogove/40K-enchant-viewer/issues">
          Github <i class="fab fa-github"></i>
          </a>.
      </p>
      </b-col>
    </b-row>
    <b-row>
      <b-col col id="fixed_column">
        <div id="slots">
          <b-img src="slotmap.jpg" usemap="#slotmap"></b-img>
          <a id="A_neural_implant" class="area area_square"
             @click="select_slot($event,'neural_implant');"></a>
          <a id="A_eye_implant" class="area area_square"
             @click="select_slot($event,'eye_implant');"></a>
          <a id="A_main_implant" class="area area_rect"
             @click="select_slot($event,'main_implant');"></a>
          <a id="A_purity_seal" class="area area_square"
             @click="select_slot($event,'purity_seal');"></a>
          <a id="A_belt" class="area area_square"
             @click="select_slot($event,'belt');"></a>
          <a id="A_body" class="area area_rect"
             @click="select_slot($event,'body');"></a>
          <a id="A_inoculator" class="area area_rect"
             @click="select_slot($event,'inoculator');"></a>
          <a id="A_weapon" class="area area_rect"
             @click="select_slot($event,'weapon');"></a>
          <a id="A_signum" class="area area_square"
             @click="select_slot($event,'signum');"></a>
          <!--<a id="A_signum2" class="area area_square"
             @click="select_slot($event,'signum2');"></a>-->
          <a id="A_offhand" class="area area_rect"
             @click="select_slot($event,'offhand');"></a>
        </div>
      </b-col>
      <b-col col>
        <!-- Need to also disable all active filter control buttons.
        <p>
          <button type="button" class="btn btn-dark"
                  v-on:click="clear_filter()">
            Clear Filters</button>
        </p>-->
        <p>
          <!--Enchant type:-->
          <button type="button" class="btn btn-outline-primary shadow-none active"
                  @click="select_quality($event, 'primary')">
            Primary</button>
          <button type="button" class="btn btn-outline-secondary shadow-none"
                  @click="select_quality($event, 'secondary')">
            Secondary</button>
          <button type="button" class="btn btn-outline-relic shadow-none"
                  @click="select_quality($event, 'relic')">
            Relic</button>
          <button type="button" class="btn btn-outline-morality shadow-none"
                  @click="select_quality($event, 'morality')">
            Morality</button>
        </p>
        <p>
          <b-input-group prepend="Filter:">
            <b-form-input id="text_filter_pattern"
                          prepend="test"
                          v-model="pattern"
                          debounce="100"
                          trim
                          autofocus
                          @update="select_pattern">
            </b-form-input>
            <b-input-group-append>
              <b-button variant="ui"
                        @click="clear_pattern">
                Clear
              </b-button>
            </b-input-group-append>
        </p>
        <div class="page-contained">
          <b-table id="enchants"
                   small
                   thead-tr-class="d-none"
                   :fields="enchant_fields"
                   :items="enchants"
                   :filter="current_filter"
                   :filter-function="filter_function">
            <template v-slot:cell(str)="row">
              <span :class="'text-'+row.item.quality"><i class="fas fa-square"></i></span>
              <span class="row-spacer"></span>
              <span v-html="row.item.str"></span>
            </template>
            <template v-slot:cell(show_details)="row">
              <b-button size="sm" @click="row.toggleDetails" class="mr-2">
                {{ row.detailsShowing ? 'Less' : 'More'}}
              </b-button>
            </template>
            <template v-slot:row-details="row">
              <div class="details">
                <p v-if="row.item.doubled">
                  <span class="detail-header">Values doubled if on a two-handed weapon.</span>
                </p>
                <p><span class="detail-header">Enchant ID:</span> {{ row.item.name }}</p>
                <p><span class="detail-header">Valid Items:</span> {{
                     (row.item.items==undefined)?"(undefined)":row.item.items.join(", ")
                  }}</p>
                <p><span class="detail-header">Exclusion Groups:</span> {{
                     (row.item.groups==undefined)?"N/A":row.item.groups.join(", ")
                }}</p>
              </div>
            </template>
          </b-table>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="selected_slots.length>0" id="enabled_box">
      <b-col>
        <div>
          <span v-if="selected_slots.length>0" class="enabled_header">
            Filtered item types:
          </span>
          <span v-for="(slot,index) in selected_slots" class="enabled_items">
            {{
              items_for_selected_slot(slot) 
            }}<span v-if="index != selected_slots.length-1">, </span>
          </span>
        </div>
      </b-col>
    </b-row>
  </b-container>

<!---------------------------------------------------------------------------->
  </body>

  <!-- Pre-computed 40K data -->
  <script src="data.js"></script>
  <!-- Vue App -->
  <script src="app.js"></script>

</html>
