<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap-Vue -->
    <link rel="stylesheet" type="text/css"
          href="css/custom.css">
    <link rel="stylesheet" type="text/css" 
          href="https://unpkg.com/bootstrap-vue@2.19.0/dist/bootstrap-vue.css"/>

    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.19.0/dist/bootstrap-vue.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap">
    <link rel="stylesheet" type="text/css"
          href="css/fa.min.css">

    <!-- Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29492860-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-29492860-9');
    </script>

    <title>Inquisitor: Martyr Enchant Viewer</title>
  </head>
  <body>
<!---------------------------------------------------------------------------->

  <b-container id="app">
    <b-row>
      <b-col class="title">
      <h1>40K: Inquisitor Enchant Viewer</h1>
      <p><span class="subtitle">
        By <a href="https://mome-borogove.github.io/">Mome Borogove</a>,
        updated for <span class="version">{{version}}</span>.
        For questions, visit the 
          <a href="https://discord.gg/inquisitor40k">
          40K: Inquisitor Discord</a>.
        For bugs and feedback, submit an issue on 
          <a href="https://github.com/mome-borogove/40K-enchant-viewer/issues">
          Github <i class="fab fa-github"></i>
          </a>.
      </p>
      </b-col>
    </b-row>
    <b-row>
      <b-col col id="fixed_column">
        <div id="slots">
          <b-img src="slotmap.jpg" usemap="#slotmap"></b-img>
          <a v-for="slot in all_slots"
             :id="'A_'+String(slot)"
             class="area area_square"
             :class="{ 'active': F_slots.includes(slot),
                       'area_rect': rect_slots.includes(slot),
                       'area_square': !rect_slots.includes(slot) }"
             @click="toggle_slot(slot)"></a>
          <button class="btn btn-sm btn-ui shadow-none clear-slots" @click="F_slots=[]; F_items=[];">Clear</button>
        </div>
      </b-col>
      <b-col col>
        <p>
          <!--Enchant type:-->
          <button type="button" class="btn btn-outline-primary shadow-none"
                  v-bind:class="{ 'active': F_qualities.includes('primary') }"
                  @click="toggle_quality('primary')">
            Primary</button>
          <button type="button" class="btn btn-outline-secondary shadow-none"
                  v-bind:class="{ 'active': F_qualities.includes('secondary') }"
                  @click="toggle_quality('secondary')">
            Secondary</button>
          <button type="button" class="btn btn-outline-relic shadow-none"
                  v-bind:class="{ 'active': F_qualities.includes('relic') }"
                  @click="toggle_quality('relic')">
            Relic</button>
          <button type="button" class="btn btn-outline-archeo shadow-none"
                  v-bind:class="{ 'active': F_qualities.includes('archeo') }"
                  @click="toggle_quality('archeo')">
            Archeotech</button>
          <button type="button" class="btn btn-outline-morality shadow-none"
                  v-bind:class="{ 'active': F_qualities.includes('morality') }"
                  @click="toggle_quality('morality')">
            Morality</button>
        </p>
        <p>
          <b-input-group prepend="Filter:">
            <b-form-input id="text_filter_pattern"
                          prepend="test"
                          v-model="F_pattern"
                          debounce="100"
                          trim
                          autofocus>
            </b-form-input>
            <b-input-group-append>
              <b-button variant="ui"
                        @click="clear_pattern">
                Clear
              </b-button>
            </b-input-group-append>
        </p>
        <div class="page-contained">
          <b-table id="enchants"
                   small
                   thead-tr-class="d-none"
                   :fields="enchant_fields"
                   :items="enchants"
                   :filter="[F_pattern, F_slots, F_qualities, F_items]"
                   :filter-function="filter_function">
            <template v-slot:cell(str)="row">
              <span :class="'text-'+row.item.quality"><i class="fas fa-square"></i></span>
              <span class="row-spacer"></span>
              <span v-html="row.item.str"></span>
            </template>
            <template v-slot:cell(show_details)="row">
              <b-button size="sm" @click="row.toggleDetails" class="mr-2">
                {{ row.detailsShowing ? 'Less' : 'More'}}
              </b-button>
            </template>
            <template v-slot:row-details="row">
              <div class="details">
                <p v-if="row.item.doubled">
                  <span class="detail-header">Values doubled if on a two-handed weapon.</span>
                </p>
                <p><span class="detail-header">Enchant ID:</span> {{ row.item.name }}</p>
                <p><span class="detail-header">Valid Items:</span> {{
                     (row.item.items==undefined)?"(undefined)":row.item.items.join(", ")
                  }}</p>
                <p><span class="detail-header">Exclusion Groups:</span> {{
                     (row.item.groups==undefined)?"N/A":row.item.groups.join(", ")
                }}</p>
              </div>
            </template>
          </b-table>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="F_slots.length>0" id="enabled_box">
      <b-col>
        <div>
          <span v-if="F_slots.length>0" class="enabled_header">
            Item-Specific Filters:
          </span>
          <span v-for="(item,index) in current_items" class="enabled_items">
            <button type="button" class="btn btn-sm btn-outline-ui item-button shadow-none"
                    :class="{
                      'active': F_items.includes(item),
                    }"
                    @click="toggle_item(item)"
              >{{ item }}</button> <span v-if="index != current_items.length-1"></span>
          </span>
        </div>
      </b-col>
    </b-row>
  </b-container>

<!---------------------------------------------------------------------------->
  </body>

  <!-- Pre-computed 40K data -->
  <script src="data.js"></script>
  <!-- Vue App -->
  <script src="app.js"></script>

</html>
