<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
          href="css/custom.css">

    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap">
    <link rel="stylesheet" type="text/css"
          href="css/fa.min.css">

    <!-- Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29492860-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-29492860-9');
    </script>

    <title>40K: Inquisitor - Enchant Viewer</title>
  </head>
  <body>
  <!-- -------------------------------------------------------------------- -->

  <div class="container-xl" id="app">
    <div class="row">
      <div class="col title">
        <h1>40K: Inquisitor - Enchant Viewer</h1>
        <p><span class="subtitle">
          By <a href="https://mome-borogove.github.io/">Mome Borogove</a>,
          updated for <span class="version">{{version}}</span>.
          For questions, visit the 
            <a href="https://discord.gg/inquisitor40k">
            40K: Inquisitor Discord</a>.
          For bugs and feedback, submit an issue on 
            <a href="https://github.com/mome-borogove/40K-enchant-viewer/issues">
            Github <i class="fab fa-github"></i>
            </a>.
        </p>
      </div>
    </div> <!-- /title row -->

    <div class="row"> <!-- main row -->
      <div class="col" id="fixed_column">
        <div id="slots">
          <img src="slotmap.jpg" usemap="#slotmap"></img>
            <toggle-area v-for="slot in FMap.key_array('slot')"
                         v-model="F_mask[FMap.get2('slot',slot)]"
                         :slot="slot"
                         :rect="rect_slots.includes(slot)"></toggle-area>
          <button class="btn btn-sm btn-ui shadow-none clear-slots"
                  @click="clear_slots">Clear</button>
        </div>
      </div> <!-- /fixed_column -->
      <div class="col-sm">
        <div class="button-row">
          <!-- enchant type: -->
          Enchant type:
          <toggle-button v-for="quality in FMap.key_array('quality')"
                         v-model="F_mask[FMap.get2('quality',quality)]"
                         :color="color_map.get(quality)"
                         class="quality-button">
            {{capitalize(quality)}}
          </toggle-button>
        </div>
        <div class="button-row">
          Restricted to:
          <toggle-button v-model="F_mask[FMap.get2('season',0)]"
                         color="ui"
                         class="season-button">
            Non-season
          </toggle-button><!--
          --><toggle-button v-for="season in [1,2,3,4,5]"
                         v-model="F_mask[FMap.get2('season',season)]"
                         :color="'season'+String(season)"
                         class="season-button">
            Season {{season}}<!--
          -->
          </toggle-button><!--
          --><span class="d-inline-block" tabindex="0"  data-toggle="tooltip" data-placement="bottom" data-html="true" title="<i>Looking for Season 6?</i><br>Neocore changed the way they tag seasonal enchants. Season 6 items are disabled while we look for a solution.<br>Sorry!"><!--
          --><toggle-button type="button" class="btn season-button btn-outline-season6" disabled>Season 6 (disabled)</button>
          </span>
        </div>
        <!-- text filter -->
        <div class="button-row">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Filter:</span>
            </div> 
              <input id="text_filter_pattern"
                     class="form-control"
                     type="text"
                     v-model="F_pattern"
                     >
              <!-- FIXME old debounce="100" and trim flags are missing -->
            <div class="input-group-append">
              <button class="btn btn-ui" @click="clear_pattern">Clear</button>
            </div>
          </div>
        </div>
        <!-- enchant table -->
        <div id="enchant-parent">
          <div id="enchant-container">
            <table class="table table-sm" id="enchants">
              <tbody v-for="(enchant,index) in filtered_enchants">
              <tr class="entry">
                <td>
                  <span :class="'text-'+enchant.quality"><i class="fas fa-square"></i></span>
                  <span class="row-spacer"></span>
                  <span v-if="is_seasonal(enchant)">
                    <span v-for="season in enchant.seasons"
                          class="badge badge-season"
                          :class=" 'badge-season'+season">Season {{season}}</span>
                  </span>
                  <span v-html="enchant.str"></span>
                </td><td>
                  <button type="button"
                          class="btn btn-sm btn-secondary"
                          data-toggle="collapse"
                          :data-target="'#details-'+enchant.name+'-'+index"
                          aria-expanded="false"
                          >
                    {{ "Details" }}
                  </button>
                </td>
              </tr> <!-- /enchant entry -->
              <tr class="collapse details"
                  :id="'details-'+enchant.name+'-'+index">
                <td colspan="2">
                  <div class="details">
                    <p v-if="enchant.doubled"><span class="detail-header">
                        Values doubled if on a two-handed weapon.
                    </span></p>
                    <p><span class="detail-header">Enchant ID:</span>
                      {{ enchant.name }}
                    </p>
                    <p><span class="detail-header">Valid Items:</span>
                      {{
                         (enchant.items==undefined) ?
                         "(undefined)" :
                         enchant.items.join(", ")
                      }}
                    </p>
                    <p><span class="detail-header">Exclusion Groups:</span>
                      {{
                         (enchant.groups==undefined) ?
                         "N/A" :
                         enchant.groups.join(", ")
                      }}
                    </p>
                  </div>
                </td>
              </tr> <!-- /details -->
              </tbody>
            </table> <!-- /enchant table -->
          </div> <!-- /enchant container -->
        </div> <!-- /enchant parent -->
      </div>
    </div> <!-- main row -->

    <div class="row" v-if="any_slot_selected" id="itemfilter_box">
      <div class="col">
        <span class="itemfilter_header">
          Item-Specific Filters:
        </span>
        <span v-for="(item,index) in available_items" class="itemfilter_item">
          <toggle-button v-model="F_mask[FMap.get2('item',item)]"
                         color="ui"
                         :class="['btn-sm', 'item-button']">
            {{ item }}
          </toggle-button>
        </span>
      </div> <!-- col -->
    </div> <!-- footer row -->

  </div>

  <!-- -------------------------------------------------------------------- -->
  </body>

  <!-- Extra Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <!-- Enable tooltips -->
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <!-- Pre-computed 40K data and app logic -->
  <script src="data.js"></script>
  <script src="app.js"></script>


</html>
